body { font-family: 'Arial', sans-serif; margin: 0; background: #fff; overflow-x: hidden; overflow-y: hidden; }

/* Cores e Estados */
.bg-masculino { background-color: #72bcd4 !important; }
.bg-feminino { background-color: #f497a9 !important; }
.bg-infantil { background-color: #f7d774 !important; }
.neon-green { background-color: #39FF14; }

/* Animação de Ícones e Botões */
.icon-btn {
    color: #000;
    transition: all 0.2s ease;
    cursor: pointer;
}
.icon-btn:active {
    transform: scale(1.3);
    color: #4b5563; 
}

/* Categorias Home */
.cat-card {
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}
.cat-card i { transition: color 0.3s; }
.cat-card.clicked {
    background-color: #000 !important;
    transform: scale(1.1);
}
.cat-card.clicked i {
    color: var(--cat-color);
}

/* Pages */
.page { 
    display: none; 
    height: 100vh; 
    box-sizing: border-box; 
    padding-top: 60px; 
    padding-bottom: 100px; 
    overflow-y: hidden; 
}
.page.active { display: block; animation: fadeIn 0.3s; }

/* AJUSTE AQUI: Ativa o scroll na sessão SOBRE também */
#vitrine.page, #favoritos.page, #carrinho.page, #sobre.page { 
    overflow-y: auto; 
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Menu Lateral */
.drawer { 
    transition: transform 0.3s ease-in-out; 
    transform: translateX(-100%); 
    z-index: 40; 
}
.drawer.active { transform: translateX(0); }

/* Card de Produto */
.product-card {
    background: white;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
}
.product-img {
    height: 150px;
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
    margin-bottom: 10px;
}

/* Botões do Card */
.btn-cart { background: #53565a; color: white; width: 100%; padding: 10px; border-radius: 8px; font-weight: bold; margin-top: 10px; transition: 0.3s; }
.btn-cart.active { background: white; color: #53565a; border: 2px solid #53565a; }
.btn-fav { background: #f4d06f; color: black; width: 100%; padding: 10px; border-radius: 8px; font-weight: bold; margin-top: 8px; transition: 0.3s; }
.btn-fav.active { background: #000; color: #f4d06f; }

/* Bottom Nav */
.bottom-nav { 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    background: white; 
    border-top: 1px solid #ddd; 
    display: flex; 
    justify-content: space-around; 
    padding: 15px 0; 
    z-index: 50; 
}
.custom-input { border-radius: 25px; background: #e5e7eb; padding: 12px 20px; width: 100%; border: none; outline: none; }

#home { overflow-y: hidden; }
